# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / caches
.metro-cache/
.metro-health-check*
.cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS
.DS_Store

# env
*.env
*.env.*
.env*.local

# typescript
*.tsbuildinfo

# build outputs
/build
/.next/
/out/

# misc secrets
*token.json*
*credentials.json*

# archives
**/*.zip
**/*.tar.gz
**/*.tar
**/*.tgz

# vercel
.vercel
